#title {
  background-color: #3015e2;
}

.container-fluid {
  padding: 3% 15% 30%;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}
h3 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.title-info{
  padding: 0 0 4.5rem;
  align-content: center;
}

.navbar-brand {
  font-family: 'Cambria'
  font-size: 1000rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.navbar-nav {
  font-family: 'Cambria', sans-serif;
  font-size: 1.2rem;
}

/* Image */
.image{
  width: 60%;
  padding: 2rem, 2rem, 2rem;
  border-radius: 2rem;
  border-style: solid;
  border-color: #000;
  position: absolute;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: rgb(253, 139, 32);
  margin-bottom: 1rem;
}

.icon:hover {
  color: #000;
}

/* Work Section */
#work {
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.work-header {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: #000;
}

/* Socials Section */
#socials {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* COGS3 studyBuddy specific styles go here. */
h2 {
  letter-spacing: 1.5px;
  padding: 1.5rem 5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 40px;
}

h3 {
  padding: 1.5rem 0 1.5rem;}

p {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.15px;
  color: #000;
}

.card-header {
  background-color: #3015e2;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
}

.social-icon {
  font-size: 2rem;
  color: #3015e2;
  letter-spacing: 3px;
  padding: 0 0 2rem;
}

/* Media Query Section */
@media (max-width: 5000px){

  #title {
    text-align: center;
  }
  
  .title-image {
    position: static;
  }
}